.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
build/
**/*.iml
**/.idea/
bin/*
gen/*
local.properties
.idea/*
*.iml
out/*
gen/*
gen-external-apklibs/*
target/*
classes/